---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";

import { formatBlogPosts } from "../../js/utils";
import CategoryCloud from "../../components/CategoryCloud.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = import.meta.glob("./*.md", {
    eager: true, // This ensures we get the module content directly
  });
  const posts = await formatBlogPosts(allPosts);

  return paginate(posts, { pageSize: 6 });
}

const { page }: { page: { data: any; url: any } } = Astro.props;
---

<MainLayout title="Blog - Sergio Estrella (Djkde)">
  <section class="container" aria-label="New Blog posts">
    <h1 class="h1">Todos los posts</h1>
    <aside class="container" aria-label="Blog categories">
      <CategoryCloud withCount={true} />
    </aside>
    <div class="post-container">
      {
        page.data.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
    <Pagination prev={page.url.prev} next={page.url.next} />
  </section>
</MainLayout>
