---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import "../styles/global.css";
// Supports weights 100-900
import "@fontsource-variable/montserrat";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  frontmatter?: {
    title?: string;
    description?: string;
    image?: string;
  };
  robots?: string;
}

const {
  title = "Sergio Estrella (Djkde) - Desarrollador web con +3 años de experiencia",
  description = "Sergio Estrella es un desarrollador web con más de 3 años de experiencia en el desarrollo de aplicaciones web y móviles. Ha trabajado con tecnologías como React, NodeJS, Express, MongoDB, MySQL, Prisma, NextJS, Astro, Webpack, Babel, TypeScript, JavaScript, HTML, CSS, SCSS, TailwindCSS, Jest, React Testing Library, Cypress, Git, GitHub, Bitbucket, Netlify, Vercel, Heroku, AWS, Google Cloud, Firebase, Docker, Linux, entre otras.",
  image,
  frontmatter,
  robots,
} = Astro.props as Props;
---

<html lang="es">
  <MainHead {title} {description} {image} {frontmatter} {robots} />
  <body>
    <Nav />
    <main>
      <slot>
        <h1>Hello, world!</h1>
        <p>
          This is an Astro app.{" "}
          <a href="https://docs.astro.build/getting-started">
            Learn more about Astro.
          </a>
        </p>
      </slot>
    </main>
    <Footer />
  </body>
</html>
