---
import LiteYoutube from "../components/LiteYoutube.astro";
import Seo from "../components/Seo.astro";
const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-2G79RM4HRY"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2G79RM4HRY");
  </script>
  <LiteYoutube/>
</head>
